on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v3
      - uses: depot/setup-action@v1
      # Build ONLY (no push)
      - name: Build Docker image with Depot
        uses: depot/build-action@v1
        with:
          project: 6hrt50hp1f
          context: .
          file: ./Dockerfile
