on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v3
      - uses: depot/setup-action@v1
      - run: |
          depot build --project 6hrt50hp1f ./Dockerfile
